$backgroundHeaderColor: #f3fcff;
$fontHeaderButtonColor: #2dafd7;
$borderHeaderButtonColor: #2dafd7;
$fontHeaderLogoColor: #2dafd7;

$fontHeadlineHeadingColor: #195b84;
$backgroundHeadlineFirstlineColor: #ffffff;
$fontHeadlineMarkedColor: #2dafd7;
$backgroundHeadlineInputColor: #ffffff;
$boxshadowHeadlineInputColor: rgba(0, 85, 112, 0.15);
$fontHeadlineInputColor: #99bbc6;
$borderHeadlineErrorColor: #f00;
$backgroundHeadlineSubmitColor: #2dafcd;
$boxshadowHeadlineSubmitColor: rgba(45, 175, 215, 0.2);
$fontHeadlineSubmitColor: #ffffff;
$fontHeadlinePlaceholderColor: #99bbc6;

$boxshadowFeaturesWrapperColor: rgba(0, 85, 112, 0.15);
$backgroundFeaturesWrapperColor: #ffffff;
$fontFeaturesTextElementColor: #195b84;
$fontFeaturesBackgroundNumberColor: rgba(246, 246, 246, 0.8);
$backgroundFeaturesSeaparatorColor: #f3fcff;

$fontEarningHeadingColor: #195b84;
$backgroundEarningColumnColor: #f4f9ff;
$boxshadowEarningColumnColor: rgba(0, 85, 112, 0.15);
$fontEarningHeadingColor: #2dafd7;
$fontEarningDescriptionColor: #195b84;
$backgroundEarningLineColor: #2dafd7;
$backgroundEarningLineColor: #2dafd7;
